.about {
  background-color: $color-grey;
  padding: 11px 0 65px 0;

  &__container {
    max-width: 440px;
    margin: 0 auto;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 8px 0;
    border-radius: 10px;
    border: 3px solid $color-yellow;
  }
}
.about-title {
  &__text {
    font-family: Edu NSW ACT Foundation;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.26;
    color: $color-yellow;
  }
}
.about-info {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  margin: 35px 23px 0 18px;
  border-left: 3px solid $color-yellow;

  &__card-expression {
    position: absolute;
    top: 13px;
    right: 90px;
    width: 235px;
    height: 60px;
    padding: 3px 36px;
    background-color: $color-pink;
    border-radius: 25px 0 0 0;
  }

  &__text {
    font-family: Kdam Thmor;
    font-size: 15px;
    line-height: 1.8;
    font-family: Kdam Thmor;
    letter-spacing: 0.2em;
    color: $color-dark-purple;
  }

  &__card-find {
    position: absolute;
    top: 86px;
    right: 157px;
    width: 200px;
    height: 58px;
    padding: 2.5px 29px;
    background-color: $color-pink;
    border-radius: 0 25px 0 0;
  }

  &__text-small {
    font-family: Kdam Thmor;
    font-size: 15px;
    line-height: 1.8;
    letter-spacing: 0.2em;
    color: $color-yellow;
  }

  &__picture {
    width: 150px;
    height: 170px;
  }
}

@media (min-width: 768px) {
  .about {
    &__container {
      max-width: 700px;
    }

    &__title {
      padding: 5.5px 0;
    }

    &__info {
      margin: 50px 6px 0 28px;
    }
  }
  .about-title {
    &__text {
      font-size: 35px;
      font-weight: 500;
      line-height: 44.1px;
    }
  }
  .about-info {
    &__card-expression {
      top: 85px;
      right: 113px;
      width: 346px;
      height: 74px;
      padding: 12px 58px 12px 66px;
    }

    &__text {
      font-size: 17px;
      line-height: 1.4;
    }

    &__card-find {
      top: 180px;
      right: 160px;
      width: 440px;
      height: 40px;
      padding: 8px 39px 8px 39px;
    }

    &__text-small {
    }

    &__picture {
      width: 368px;
      height: 245px;
    }
  }
}
