.about {
  background-color: $color-grey;
  padding: 11px 0 65px 0;

  &__container {
    max-width: 440px;
    margin: 0 auto;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 438px;
    height: 47.93px;
    border-radius: 10px;
    border: 3px solid $color-yellow;
  }
}
.about-title {
  &__text {
    font-family: Edu NSW ACT Foundation;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.26;
    color: $color-yellow;
  }
}
.about-info {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  margin: 35px 23px 0 18px;
  border-left: 3px solid $color-yellow;

  &__card-expression {
    position: absolute;
    top: 13px;
    right: 90px;
    width: 235px;
    height: 60px;
    padding: 3px 36px;
    background-color: $color-pink;
    border-radius: 25px 0 0 0;
  }

  &__text {
    font-family: Kdam Thmor;
    font-size: 15px;
    line-height: 1.8;
    font-family: Kdam Thmor;
    letter-spacing: 0.2em;
    color: $color-dark-purple;
  }

  &__card-find {
    position: absolute;
    top: 86px;
    right: 157px;
    width: 200px;
    height: 58px;
    padding: 2.5px 29px;
    background-color: $color-pink;
    border-radius: 0 25px 0 0;
  }

  &__text-small {
    font-family: Kdam Thmor;
    font-size: 15px;
    line-height: 1.8;
    letter-spacing: 0.2em;
    color: $color-yellow;
  }

  &__picture {
    width: 150px;
    height: 170px;
  }
}
