.challenges > .container {
  padding: 18px 30px 38px 30px;
  background-color: $color-light-purple;
}
.challenges {
  background-color: $color-grey;

  &__button {
    padding: 3px 30px;
    margin-bottom: 30px;
    font-family: "Kdam Thmor";
    font-size: 15px;
    color: $color-yellow;
    background-color: inherit;
    border: 3px solid $color-yellow;
    border-radius: 10px;
  }

  &__form {
  }
}
.challenges-form {
  &__list {
  }

  &__item {
  }

  &__label {
    font-family: "K2D", serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.3;
    color: $color-dark-purple;
  }

  &__input {
    display: none;
  }

  &__text {
    height: 12px;
    width: 12px;
    border: 1px solid gray;
    display: inline-block;
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    padding: 3px;
  }
  
  [type=checkbox]:checked + &__text:before {
    content: '\2714';
    position: absolute;
    top: -5px;
    left: 0;
    font-size:23px;
    color:green;
  }
}
