.hidden{
  display: none;
}
.challenges {
  background-color: $color-grey;

  &__container {
    padding: 18px 30px 38px 30px;
    background-color: $color-light-purple;
  }

  &__button {
    width: 145px;
    height: 28px;
    padding: 0 30px;
    margin-bottom: 16px;
    font-family: "Kdam Thmor";
    font-size: 15px;
    color: $color-yellow;
    background-color: inherit;
    border: 3px solid $color-yellow;
    border-radius: 10px;
  }

  &__button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 25px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      transition: 0.5s;
  }
}

.challenges-form {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__line{
    width: 70%;
    margin-left: 73px;
    border-bottom: 1px solid $color-yellow;
  }

  &__label {
    position: relative;
    display: flex;
    padding-left: 50px;
    font-family: "K2D", serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.3;
    color: $color-dark-purple;
    cursor: pointer;
  }

  &__input-decor {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: -48px;
    border: 3px solid $color-yellow;
    border-radius: 5px;
    background-color: transparent;
    .challenges-form__input:checked ~ & {
      border: 1px solid transparent;
      background-color: $color-yellow;
    }
    transition: background-color 0.5s, border 0.5s;
  }

  &__input {
    display: none;
  }
}

@media (min-width: 768px) {
  .hidden{
    display: inline-block;
  }
  .challenges {
    &__container {
      padding: 15px 45px 20px 25px;
    }

    &__button {
      width: 225px;
      height: 40px;
      padding: 0 30px;
      margin-bottom: 40px;
      font-size: 25px;
      font-weight: 700;
      line-height: 1.2;
    }
  }
  .challenges-form {
    &__list {
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 32px;
      row-gap: 8px;
    }

    &__item {
      width: 295px;
    }

    &__label {
      font-size: 15px;
    }
  }
}
