.header {
  padding: 13px 0 20px 0;
  border-bottom: 20px solid $color-purple;
  background-color: $color-dark-purple;

  &__container {
    max-width: 440px;
    margin: 0 auto;
  }

  &__wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    width: 30px;
    height: 25px;
    border: none;
    background-color: inherit;
  }

  &__search {
  }

  &__avatar {
    width: 38px;
    height: 36px;
    border: none;
    border-radius: 50px;
    background-color: $color-purple;
  }
}
.header-menu {
  &__picture {
  }
}
.header-search {
  &__input {
    width: 305px;
    height: 25px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-family: Inter;
    font-size: 15px;
    line-height: 1.21;
  }

  &__input::placeholder {
    color: $color-purple;
  }
}
.header-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

@media (min-width: 768px) {
  .header {
    padding: 35px 0 30px 0;
    border-bottom: 50px solid $color-purple;

    &__container {
      max-width: 700px;
    }

    &__wraper {
      padding: 0 40px 0 30px;
    }

    &__menu {
      width: 45px;
      height: 45px;
    }

    &__search {
    }

    &__avatar {
      width: 55px;
      height: 55px;
    }
  }
  .header-menu {
    &__picture {
      width: 45px;
      height: 45px;
    }
  }
  .header-search {
    input {
      width: 410px;
      height: 35px;
      font-size: 20px;
      line-height: 1.21;
    }
  }
  .header-avatar {
    &__picture {
      width: 45px;
      height: 45px;
    }
  }
}

@media (max-width: 479px) {
  .header {
    &__container {
    }

    &__wraper {
    }

    &__menu {
    }

    &__search {
    }

    &__avatar {
    }
  }
  .header-menu {
    &__picture {
    }
  }
  .header-search {
    &__input {
      width: calc(200px  + (305 - 200) * ((100vw - 320px) / (479 - 320)));
    }
  }
  .header-avatar {
    &__picture {
    }
  }
}
