.header {
  padding: 5px 0 6px 0;
  border-bottom: 20px solid $color-grey;
  background-color: $color-dark-purple;

  &__wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 33px;
  }

  &-menu__picture {
    width: 18.69px;
    height: 17.74px;
    border: none;
    background-color: inherit;
  }

  &__menu:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.5s;
  }

  &__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 29px;
    border: none;
    border-radius: 50px;
    background-color: $color-purple;
  }

  &-avatar__picture {
    width: 27px;
    height: 25px;
  }

  &__avatar:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.5s;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 10px 0;
    border-bottom: 25px solid $color-grey;

    &__wraper {
      padding: 0 30px;
    }

    &__avatar {
      width: 55px;
      height: 55px;
    }
  }

  .header-menu {
    &__picture {
      width: 35px;
      height: 35.42px;
    }
  }

  .header-avatar {
    &__picture {
      width: 45px;
      height: 45px;
    }
  }
}

@media (min-width: 1440px) {
  .header {
    padding: 10px 0;
    border-bottom: 35px solid $color-grey;
  }

  .header-menu {
    &__picture {
      width: 70px;
      height: 69px;
    }
  }

  .header-avatar {
    width: 85px;
    height: 80px;

    &__picture {
      width: 76px;
      height: 64px;
    }
  }

}