.hobbies {
  position: relative;
  background-color: $color-grey;
  padding-bottom: 45px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 135px;
    padding: 32px 28px;
    background-color: $color-yellow;
    border-radius: 25px;
  }

  &__item {
    position: relative;
  }

  &__button {
    width: 180px;
    height: 150px;
    border: none;
    border-radius: 0 0 0 25px;
  }

  &__button:hover {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 15px 50px 4px;
    transition: 0.5s;
  }

  &__picture {
    width: 180px;
    height: 150px;
    border-radius: 0 0 0 25px;
  }

  &__text {
    position: absolute;
    top: 11px;
    right: 14px;
    font-family: "Kdam Thmor";
    font-size: 15px;
    line-height: 2;
    letter-spacing: 0.2em;
    color: $color-white;
  }

  &__line {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 200px;
    left: 0;
    width: 100%;
    padding: 25px 0;
    background-color: $color-pink;
  }
}
.hobbies-line {
  &__button {
    width: 250px;
    height: 50px;
    border: 3px solid $color-dark-purple;
    border-radius: 10px;
    font-family: "Kdam Thmor";
    font-size: 25px;
    line-height: 1.8;
    letter-spacing: 0.2em;
    color: $color-yellow;
    background-color: inherit;
  }

  &__button:hover {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 15px 50px 4px;
    transition: 0.5s;
  }

  &__link {
    color: $color-yellow;
  }

  &__link:visited {
    color: $color-yellow;
  }
}

@media (max-width: 479px) {
  .hobbies {
    &__list {
      row-gap: 120px;
      padding: calc(25px + (32 - 25) * ((100vw - 320px) / (479 - 320))) calc(20px + (28 - 20) * ((100vw - 320px) / (479 - 320)));
    }

    &__item {
    }

    &__button {
      width: calc(135px + (180 - 135) * ((100vw - 320px) / (479 - 320)));
      height: calc(110px + (150 - 110) * ((100vw - 320px) / (479 - 320)));
    }

    &__picture {
      width: calc(135px + (180 - 135) * ((100vw - 320px) / (479 - 320)));
      height: calc(110px + (150 - 110) * ((100vw - 320px) / (479 - 320)));
    }

    &__text {
      right: calc(8px + (14 - 8) * ((100vw - 320px) / (479 - 320)));
      font-size: calc(13px + (15 - 13) * ((100vw - 320px) / (479 - 320)));
    }

    &__line {
      top: calc(150px + (200 - 150) * ((100vw - 320px) / (479 - 320)));
    }
  }
  .hobbies-line {
    &__button {
      height: 50px;

      width: calc(190px + (250 - 190) * ((100vw - 320px) / (479 - 320)));
    }

    &__link {
    }
  }
}

@media (min-width: 768px) {
  .hobbies {
    &__list {
      height: 550px;
      padding: 35px 34px 18px 30px;
    }

    &__button {
      width: 286px;
      height: 185px;
    }

    &__picture {
      width: 286px;
      height: 185px;
    }

    &__text {
      font-size: 20px;
      font-weight: 700;
      line-height: 1.5;
    }

    &__line {
      top: 230px;
      padding: 15px 0;
    }
  }
  .hobbies-line {
    &__button {
      width: 350px;
      height: 70px;
      font-size: 30px;
      font-weight: 700;
      line-height: 1.4;
    }

    &__link {
      color: $color-yellow;
    }

    &__link:visited {
      color: $color-yellow;
    }
  }
}
