.hobbies {
  position: relative;
  background-color: $color-grey;
  padding-bottom: 45px;

  &__container {
    max-width: 440px;
    margin: 0 auto;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 500px;
    padding: 32px 28px;
    background-color: $color-yellow;
    border-radius: 25px;
  }

  &__item {
    position: relative;
  }

  &__button {
    border: none;
    border-radius: 0 0 0 25px;
  }

  &__picture {
    width: 180px;
    height: 150px;
    border-radius: 0 0 0 25px;
  }

  &__text {
    position: absolute;
    top: 11px;
    right: 14px;
    font-family: "Kdam Thmor";
    font-size: 15px;
    line-height: 2;
    letter-spacing: 0.2em;
    color: $color-white;
  }

  &__line {
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 200px;
    left: 0;
    width: 100%;
    padding: 25px 0;
    background-color: $color-pink;
  }
}
.hobbies-line {
  &__button {
    width: 250px;
    height: 50px;
    border: 3px solid $color-dark-purple;
    border-radius: 10px;
    font-family: "Kdam Thmor";
    font-size: 25px;
    line-height: 1.8;
    letter-spacing: 0.2em;
    color: $color-yellow;
    background-color: inherit;
  }

  &__link{
    color: $color-yellow;
  }

  &__link:visited{
    color: $color-yellow;
  }
}

@media (min-width: 768px) {
  .hobbies {
    &__container {
      max-width: 700px;
    }

    &__list {
      height: 550px;
      padding: 35px 34px 18px 30px;
    }

    &__item {
    }

    &__button {
    }

    &__picture {
      width: 286px;
      height: 185px
    }

    &__text {
      font-size: 20px;
      font-weight: 700;
      line-height: 1.5;
    }

    &__line {
      top: 230px;
      padding: 15px 0;
    }
  }
  .hobbies-line {
    &__button {
      width: 350px;
      height: 70px;
      font-size: 30px;
      font-weight: 700;
      line-height: 1.4;
    }

    &__link{
      color: $color-yellow;
    }

    &__link:visited{
      color: $color-yellow;
    }
  }
}
