.registration {
  position: relative;
  height: 220px;
  background-image: url("../img/main/registration/registration-420-1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 25px;
    background: linear-gradient(
      90deg,
      #cbabc2 0%,
      #423d51 38%,
      #423d51 65%,
      #cbabc2 100%
    );
  }
}

@media (min-width: 768px) {
  .registration {
    height: 395px;
    background-image: url("../img/main/registration/registration-420-1x.avif");

    &__line {
      height: 50px;
    }
  }
}
