.reviews {
  padding-bottom: 45px;
  padding-top: 15px;
  background-color: $color-grey;

  &__container {
    padding: 18px 30px 38px 30px;
    background-color: $color-light-purple;
  }

  &__button {
    padding: 0 35px;
    margin-bottom: 30px;
    font-family: "Kdam Thmor";
    font-size: 15px;
    color: $color-yellow;
    background-color: inherit;
    border: 3px solid $color-yellow;
    border-radius: 10px;
  }

  &__button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 25px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.5s;
  }

}

.reviews-list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  &__name{
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__button {
    position: relative;
    display: flex;
    padding: 4px 10px;
    margin-left: 28px;
    font-family: "Inter", serif;
    font-size: 10px;
    line-height: 1.2;
    color: $color-white;
    white-space: nowrap;
    border: 1px solid $color-yellow;
    border-radius: 5px;
    background-color: inherit;
  }

  &__line{
    width: 100%;
    border-bottom: 1px solid $color-yellow;
  }

  &__wraper {
    display: flex;
    column-gap: 4.5px;
  }

  &__picture {
    width: 25px;
    height: 25px;
    border-radius: 50px;
  }

  &__text {
    margin-top: 8px;
    font-family: Inter;
    font-size: 10px;
    line-height: 1.2;
    color: $color-white;
  }
}

@media (min-width: 768px) {
  .reviews {
    &__container {
      padding: 30px 60px 60px 60px;
    }

    &__button {
      padding: 0 33px;
      font-size: 25px;
      font-weight: 700;
    }
  }
  .reviews-list {

    &__button {
      margin-left: 80px;
      font-size: 15px;
      border: 2px solid #ffef89;
    }

    &__wraper {
      column-gap: 25px;
    }

    &__picture {
      width: 40px;
      height: 40px;
    }

    &__text {
      font-size: 15px;
    }
  }
}
