.reviews {
  padding-bottom: 45px;
  padding-top: 15px;
  background-color: $color-grey;

  &__container {
    max-width: 440px;
    margin: 0 auto;
    padding: 18px 30px 38px 30px;
    background-color: $color-light-purple;
  }

  &__button {
    padding: 3px 30px;
    margin-bottom: 30px;
    font-family: "Kdam Thmor";
    font-size: 15px;
    color: $color-yellow;
    background-color: inherit;
    border: 3px solid $color-yellow;
    border-radius: 10px;
  }
}

.reviews-list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  &__button {
    position: relative;
    display: inline-block;
    max-width: 80px;
    padding: 4px 10px;
    margin-left: 28px;
    font-family: "Inter", serif;
    font-size: 10px;
    line-height: 1.2;
    color: $color-white;
    word-break: break-all;
    border: 1px solid $color-yellow;
    border-radius: 5px;
    background-color: inherit;
  }

  &__button::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 100px;
    width: 250px;
    border: 1px solid #ffef89;
  }

  &__wraper {
    display: flex;
    column-gap: 4.5px;
  }

  &__picture {
    width: 25px;
    height: 25px;
    border-radius: 50px;
  }

  &__text {
    margin-top: 8px;
    font-family: Inter;
    font-size: 10px;
    line-height: 1.2;
    color: $color-white;
  }
}

@media (min-width: 768px) {
  .reviews {
    &__container {
      max-width: 700px;
      padding: 30px 60px 60px 60px;
    }

    &__button {
      padding: 5px 30px;
      width: 225px;
      height: 40px;
      font-size: 25px;
      font-weight: 700;
    }
  }
  .reviews-list {
    &__item {
    }

    &__button {
      margin-left: 80px;
      font-size: 15px;
      border: 2px solid #ffef89;
    }

    &__button::after {
      left: 140px;
      width: 350px;
      border: 2px solid #ffef89;
    }

    &__wraper {
      column-gap: 25px;
    }

    &__picture {
      width: 40px;
      height: 40px;
    }

    &__text {
      font-size: 15px;
    }
  }
}
