$color-yellow: #FFEF89;
$color-black: #211E29;
$color-grey: #423D51;
$color-pink: #CBABC2;
$color-red: #885D66;
$color-purple: #874B92;
$color-dark-purple: #473148;
$color-pastel-purple: #644F5E;
$color-light-purple: #8A7685;

$color-white: #FFFFFF;
$color-black: #000;