body{
  font-family:"Fixel Text", sans-serif;
}

.container {
  width: 440px;
  margin: 0 auto;

  @media (max-width: 479px) {
    width: calc(100vw - 20px);
  }
  
  @media (min-width: 768px) {
    width: 700px;
    margin: 0 auto;
  }

  @media (min-width: 1440px) {
    width: 952px;
  }
}

body {
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
